@model MyGojo.Data.Model.Announcement 

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="control-group">    @*  If error add error to class *@
    <label class="control-label" for="input-title">Title</label>
    <div class="controls">
        <input type="text" class="input-xlarge" id="input-title"/>
        <p class="help-block">Enter the title of the announcement here</p>
    </div>
</div>

<div class="control-group">
   <label class="control-label" for="redactor-content" >Content</label>
    <div class="controls">
        <textarea rows="5" class="input-xlarge"  id="redactor-content" name="redactor"></textarea>
    </div>
</div>

<div class="control-group">    @*  If error add error to class *@
    <label class="control-label" for="input-priority">Priority</label>
    <div class="controls">
        <input type="text" class="input-mini" id="input-priority" disabled="" />
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="checkbox-IsVisible">Workspace Visible</label>
    <div class="controls">
        <label class="checkbox">
            <input id="checkbox-IsVisible" type="checkbox" disabled=""  checked value="true">
            Yes
        </label>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="checkbox-IsEditable">Workspace Editable</label>
    <div class="controls">
        <label class="checkbox">
            <input id="checkbox-IsEditable" type="checkbox" disabled=""  checked value="true">
                Yes
        </label>
    </div>
</div>




