@{
    ViewBag.Title = "JavascriptTest";
}

<div class="row-fluid">
    <div class="span3">
    </div>

    <div class="span6"><h2>JavascriptTest</h2></div>
    
    <div class="span3">
    </div>
</div>  <!--/row-->

