@{
	ViewBag.Title = "StyleTest";
}

<div class="row-fluid">
    <div class="span3">
    </div>

    <div class="span6">
        <header>
            <h1>StyleTest</h1>
            <h4>
                Heading 4 section header: The articles below contain HTML 5 elements with CSS 3
                classes.</h4>
        </header>
        <article>
            <h2>
                Heading 2 section article: General Typography and Textual Elements Article</h2>
            <p>
                Article Paragraph Element: Maecenas diam cursus praesent id neque proin. Primis
                <a href="#" title="This is a test link">this is a link</a>. Nonummy torquent, ante
                tempus consequat consequat orci dui. Vivamus vitae dignissim suspendisse. Id mus
                natoque sed ridiculus at montes sit mi suscipit lacinia, non habitasse dis. Imperdiet
                fusce pharetra vestibulum sit Consequat interdum aenean volutpat consectetuer. Donec
                viverra pretium blandit odio massa potenti dui tristique fusce mollis volutpat viverra.
                Elementum ut nibh, fusce. Egestas auctor dictumst duis enim, imperdiet, id diam
                maecenas tellus tortor habitant ligula ac lacinia etiam consectetuer in, cum praesent
                volutpat.</p>
            <p>
                Third paragraph for spacing and text-flow evaluation. Praesent mattis, massa quis
                luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas
                ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Second paragraph
                for spacing and text-flow evaluation. Praesent mattis, massa quis luctus fermentum,
                turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor.
                Donec sed tellus eget sapien fringilla nonummy. Second paragraph for spacing and
                text-flow evaluation. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat
                justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus
                eget sapien fringilla nonummy.</p>
            <figure>
                <img src="http://placehold.it/150x70.png" alt="Dummy Image Figure with Caption" />
                <figcaption>This is a figure and caption.</figcaption>
            </figure>
            <p>
                Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing
                elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis
                suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec,
                gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi
                volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec
                sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat
                at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. Praesent
                mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim
                diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla
                nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat
                in, nunc. Morbi imperdiet augue quis tellus. Maecenas ornare tortor. Donec sed tellus
                eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at,
                commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. Maecenas ornare
                tortor. Donec Third paragraph for spacing and text-flow evaluation. Praesent mattis,
                massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget
                metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Second
                paragraph for spacing and text-flow evaluation. Praesent mattis, massa quis luctus
                fermentum, turpis mi volutpat justo, eu volutpat enim diam eget sed tellus eget
                sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo
                vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. Maecenas ornare tortor.
                Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam
                sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
            <p>
                Second paragraph for spacing and text-flow evaluation. Praesent mattis, massa quis
                luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas
                ornare tortor. Donec libero nisi, imperdiet at, tincidunt nec, gravida vehicula,
                nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu
                volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien
                fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae,
                feugiat in, nunc. Morbi imperdiet augue quis tellus. Praesent mattis, massa quis
                luctus sed tellus eget sapien fringilla nonummy.</p>
        </article>
        <article>
            <h2>
                Heading 2 section article:: Various Heading, List and Table Element(s) Article</h2>
            <h3>
                Heading 3</h3>
            <h4>
                Heading 4</h4>
            <h5>
                Heading 5</h5>
            <h6>
                Heading 6</h6>
            <p>
                Maecenas diam cursus praesent id neque proin. Primis <a href="#" title="This is a test link">
                                                                         this is a link</a>. Nonummy torquent, ante tempus consequat consequat orci dui.
                Vivamus vitae dignissim suspendisse. Adipiscing facilisis cum litora pellentesque
                neque diam donec fames blandit nascetur senectus lacus. Following this paragraph
                is a horizontal line element.</p>
            <h4>
                Image Elements and Other Visual Media</h4>
            <p>
                <img class="border-shade" src="http://placehold.it/140x70.png" alt="Dummy Image Figure with Caption" />
            </p>
            <h4>
                List Related Elements</h4>
            <dl>
                <dt>Definition List Title</dt>
                <dd>
                    This is a definition list division.</dd>
            </dl>
            <h5>
                Ordered List</h5>
            <ol>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
            </ol>
            <h5>
                Unordered List</h5>
            <ul>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
            </ul>
            <h4>
                Table Related Elements</h4>
            <h5>
                Table Styling</h5>
            <table>
                <tr>
                    <th>
                        Column Header 1
                    </th>
                    <th>
                        Column Header 2
                    </th>
                    <th>
                        Column Header 3
                    </th>
                </tr>
                <tr>
                    <td>
                        Data 1
                    </td>
                    <td>
                        Data 2
                    </td>
                    <td>
                        Data 3
                    </td>
                </tr>
                <tr class="altrow">
                    <td>
                        Data 1 "altrow" class
                    </td>
                    <td>
                        Data 2 "altrow" class
                    </td>
                    <td>
                        Data 3 "altrow" class
                    </td>
                </tr>
                <tr>
                    <td>
                        Data 1
                    </td>
                    <td>
                        Data 2
                    </td>
                    <td>
                        Data 3
                    </td>
                </tr>
            </table>
            <p>
                Second paragraph for spacing and text-flow evaluation. Praesent mattis, massa quis
                luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas
                ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Second paragraph
                for spacing and text-flow evaluation. Praesent mattis, massa quis luctus fermentum,
                turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor.
                Donec sed tellus eget sapien fringilla nonummy.</p>
        </article>
        <article>
            <h2>
                Heading 2 section article:: Fieldsets, Legends, and Form Elements Article</h2>
            <h4>
                Form Fieldset, Legend and Various Form Elements</h4>
            <form action="#">
                <fieldset>
                    <legend>Legend</legend>
                    <label for="text_field">
                        Text Field:</label><input type="text" id="text_field" />
                    <label for="text_area">
                        Text Area:</label><textarea id="text_area"></textarea>
                    <label for="select_element">
                        Select Element:</label>
                    <select name="select_element">
                        <optgroup label="Option Group 1">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </optgroup>
                        <optgroup label="Option Group 2">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </optgroup>
                    </select>

                    <hr />

                    <strong>HTML 5 Input Types</strong>
                    <br />
                    <br />
                    <label for="radio_buttons">Radio Buttons:</label>
                    <input type="radio" class="radio" name="radio_button" value="radio_1" />Radio 1
                    <input type="radio" class="radio" name="radio_button" value="radio_2" />Radio 2
                    <input type="radio" class="radio" name="radio_button" value="radio_3" />Radio 3
                    <br />
                    <br />
                    <label for="checkboxes">Checkboxes:</label>
                    <input type="checkbox" class="checkbox" name="checkboxes" value="check_1" />Radio 1
                    <input type="checkbox" class="checkbox" name="checkboxes" value="check_2" />Radio 2
                    <input type="checkbox" class="checkbox" name="checkboxes" value="check_3" />Radio 3
                    <br />
                    <br />			

                    <label for="textfield">Text Field:</label>
                    <input type="text" id="textfield" />

                    <label for="password">Password:</label>
                    <input type="password" class="password" name="password" />

                    <label for="file">File Input:</label>
                    <input type="file" class="file" name="file" />

                    <label for="date">Date:</label>
                    <input type="date" class="date" name="date" />

                    <label for="datetime">Date/Time:</label>
                    <input type="datetime" class="datetime" name="datetime" />

                    <label for="range">Range:</label>
                    @* <input type="range" class="range" name="range" /> *@
                    <div class="range"></div>


                    <label for="email">Email:</label>
                    <input type="email" class="email" name="email"/>

                    <label for="tel">Cell:</label>
                    <input type="tel" class="tel" name="tel"/>

                    <label for="url">Url:</label>
                    <input type="url" class="url" name="url"/>
                </fieldset>

                <input class="button" type="submit" value="Input Class-Button Type-Submit" />
                <button type="reset" name="foo" value="Button Type-Reset">
                    Button Type-Reset</button>
                <button type="submit" name="foo" value="Button Type-Submit" title="Button Type-Submit">
                    Button Type-Submit</button>
            </form>
        </article>
        <article>
            <h2>
                Heading 2 section article:: CSS3, Javascript/Ajax Elements and Misc. Article</h2>
            <p>
                Second paragraph for spacing and text-flow evaluation. Praesent mattis, massa quis
                luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas
                ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Second paragraph
                for spacing and text-flow evaluation. Praesent mattis, massa quis luctus fermentum,
                turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor.
                Donec sed tellus eget sapien fringilla nonummy.</p>
            <h4>
                Quotes</h4>
            <blockquote>
                This stylesheet is going to help so freaking much inside this blockquote element.
                <br />
                -Author
            </blockquote>
            <blockquote>
                <p>
                    This is a generic paragraph with a <q>quote element</q> inside a blockquote.</p>
            </blockquote>
            <p>
                This is paragraph text, then a <q>generic quote and <q>another quote</q> inside.</q>
                Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing
                elit. Nullam dignissim convallis est. Quisque aliquam. <cite>cite</cite>. Nunc iaculis
                suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec,
                gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi
                volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec
                sed tellus eget sapien fringilla nonummy. <acronym title="National Basketball Association">NBA</acronym>
                Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.
                Morbi imperdiet augue quis tellus.
                <abbr title="Avenue">
                    AVE</abbr>
            </p>
            <h4>
                PRE and CODE elements</h4>
            <h5>
                pre Element</h5>
            <pre>
public ActionResult Index()
{
	ViewData["Message"] = "Welcome to ASP.NET MVC!";
	return View();
}
		</pre>
            <h5>
                code Element</h5>
            <code>public ActionResult Index() { ViewData["Message"] = "Welcome to ASP.NET MVC!";
                return View(); } </code>
            <p>
                Second paragraph for spacing and text-flow evaluation. Praesent mattis, massa quis
                luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas
                ornare tortor. Donec sed tellus eget sapien fringilla nonummy.</p>
        </article>
        <footer>
            <h5>
                H5 section footer</h5>
            <p class="footer-content">
                Author: ScottWade.net</p>
        </footer>
    </div>
    
    <div class="span3">
    </div>
</div>  <!--/row-->
