<ul class="nav nav-pills">
    <li class="active"><a href="/"><i class="icon-home"></i> Home</a></li>
    <li><a href="http://akr-spstage1:8080/"><i class="icon-share"></i> My Sites</a></li>
    <li><a href="~/Home/StyleTest"> StyleTest</a></li>
    <li><a href="~/Home/StyleTestII"> StyleTestII</a></li>
    <li><a href="~/Home/JavascriptTest"> JavascriptTest</a></li>
    <li><a href="~/AdminAnnouncements"> Admin</a></li>
    @*<li><a href="http://akr-spstage1/"><i class="icon-file"></i>SharePoint</a></li>*@
</ul>
