<div class="span3">
    
    <ul class="nav nav-list">
        <li class="nav-header"><h4><i class="icon-user"></i> Employee Services</h4></li>
        <li><a href="http://content.mygojo.com/EmployeeWellBeing/HROD_new/Benefits/BenefitsIndex.asp">Benefits Overview</a></li>
        <li><a href="https://www.myflexonline.com/Login/Welcome.aspx">Healthcare FSA</a></li>
        <li><a href="http://www.medmutual.com/">Medical/Dental</a></li>
        <li><a href="https://www.caremark.com/wps/portal">Prescription Drugs</a></li>
        <li><a href="http://www.colemanagedvision.com/">Vision Care</a></li>
        <li><a href="http://content.mygojo.com/EmployeeWellBeing/HROD_new/Resources/Competency/">Competency Foundation</a></li>
        <li><a href="http://content.mygojo.com/EmployeeWellBeing/corporateprograms/">Corporate Programs</a></li>
        <li><a href="http://content.mygojo.com/EmployeeWellBeing/HROD_new/Resources/EmployeeHandbook/EHB_2009.asp">Employee Handbook</a></li>
        <li><a href="http://content.mygojo.com/EmployeeWellBeing/HROD_new/index.asp">HROD Website</a></li>
        <li><a href="http://akr-webapps/mssite/index.aspx">Marketing Services</a></li>
        <li><a href="http://content.mygojo.com/EmployeeWellBeing/HROD_new/Orientation/Index.asp">Orientation Guide</a></li>
        <li><a href="http://content.mygojo.com/EmployeeWellBeing/PMP/Opening%20Page.htm">Perf. Mgmt. Process</a></li>
        <li><a href="http://www.prudential.com/online/retirement">Profit Sharing/Retirement</a></li>
        <li><a href="http://content.mygojo.com/employeewellbeing/ewbsafety/">Safety Website</a></li>  
    </ul> 
    
    <ul class="nav nav-list">
        <li class="nav-header"><h4><i class="icon-plane"></i> Travel</h4></li>
        <li><a href="http://www.travelcfo.com/">TravelCFO Reservations</a></li>
        <li><a href="http://content.mygojo.com/BusinessTools/GOJOTravel/TravelCFO%20Quick%20Reference.pdf">TravelCFO Quick Reference</a></li>
        <li><a href="http://content.mygojo.com/businesstools/gojotravel/Travel_Safety_and_Security.htm">Travel Safety Tips</a></li>
        <li><a href="http://www.gojo.com/">International Travel</a></li>
        @* <li><a href="http://www.gojo.com/">Certificate of Insurance International Medical Coverage</a></li> *@
        <li><a href="http://www.gojo.com/">TSI International Medical Insurance</a></li>
        <li><a href="http://www.gojo.com/">Travel Assistance</a></li>
    </ul>  
    
     
</div><!--/span-->

<div class="span3">
    <ul class="nav nav-list">
        <li class="nav-header"><h4><i class="icon-th-large"></i> Tools</h4></li>
        <li><a href="http://akr-oracle1.gojo.net:7782/discoverer/plus?database=gojorac&eulName=discoverer10">Discoverer</a></li>
        <li><a href="http://content.mygojo.com/SharedLocator/">Employee Information</a></li>
        <li><a href="http://content.mygojo.com/BusinessTools/BTGlossary/BTGGOJOGlossarySet.htm">Gojo Glossary</a></li>
        <li><a href="http://content.mygojo.com/gojotemplates/">Gojo Templates</a></li>
        <li><a href="http://content.mygojo.com/BusinessTools/BTLegalDocuments/">Legal Documents</a></li>
        <li><a href="http://prodanon.gojo.net/llanon">Livelink</a></li>
        <li><a href="http://content.mygojo.com/portal/HOD/hod_help_message.asp">Host on Demand</a></li>
        <li><a href="http://content.mygojo.com/BusinessTools/BTWebApplications/PRMS%20DOC/prmsid.html">PRMS 8.4 Manuals</a></li>
        <li><a href="http://content.mygojo.com/BusinessTools/BTWebApplications/PRMS_10/index.asp">PRMS 10 Manuals</a></li>
        @* <li><a href="http://AKR-WEBAPPS/BusinessTools/BTWebApplications/OMNI/OMNIMainPage.asp">OMNI</a></li> *@
        <li><a href="http://content.mygojo.com/AboutGOJO/Resource%20Center/RCIndex.asp">Resource Center</a></li>
        <li><a href="http://content.mygojo.com/EmployeeWellBeing/HROD_new/Resources/QualityTools/QualityToolsIndex.asp">Quality Tools</a></li>
        <li><a href="http://savvyseller.gojo.net">Savvy Seller</a></li>
        <li><a href="http://content.mygojo.com/ProjectToolkit/PTStageGate/">Stage Gate Toolkit</a></li>
        <li><a href="http://content.mygojo.com/BusinessTools/BTWebApplications/SelfService/StakeholderSelfservice.asp">Stakeholder Self-Service</a></li>
        <li><a href="http://content.mygojo.com/BusinessTools/SMS">Strategic Management</a></li>
        <li><a href="http://copy.mygojo.com:8085/sms">SMS Schedule</a></li>
    </ul>
    
    <ul class="nav nav-list">
        <li class="nav-header"><h4><i class="icon-truck"></i> Workplaces</h4></li>
	    <li><a href="http://content.mygojo.com/aboutgojo/workplaces/Plaza_Index.htm">Gojo Plaza</a></li>
        <li><a href="http://content.mygojo.com/aboutgojo/workplaces/International.htm">International</a></li>
        <li><a href="http://content.mygojo.com/aboutgojo/workplaces/Lippman.htm">Manufacturing Center</a></li>
        <li><a href="http://content.mygojo.com/aboutgojo/workplaces/Distribution.htm">Distribution Center</a></li>
    </ul>
 
</div><!--/span-->

<div class="span3">
    <ul class="nav nav-list">
        <li class="nav-header"><h4><i class="icon-hdd"></i> Product</h4></li>
        <li><a href="http://content.mygojo.com/BusinessTools/BTWebApplications/SelfService/CompetitorMain.asp">Competitive Intelligence</a></li>
        <li><a href="http://akr-webapps/BusinessTools/BTWebApplications/OMNI/editChangeRequest.asp">ECR Form</a></li>
        <li><a href="http://content.mygojo.com/ECR/Change%20Mangement%20Priority%20List.pdf">Change Management Priority List</a></li>
        <li><a href="http://akr-webapps/EPI/frameset1.htm">Enterprise Product Intelligence</a></li>
        <li><a href="http://content.mygojo.com/GOJOProducts/GPMSDS/DomesticMSDS.asp">Material Safety Data</a></li>
        <li><a href="http://www2.prosarcorp.com/gojo/">Raw Material Safety Data</a></li>
        @* <li><a href="http://content.mygojo.com/CoreProcessVR/Creation/SCLC/default.htm">Skin Care Learning</a></li> *@
    </ul>

    <ul class="nav nav-list">
        <li class="nav-header"><h4><i class="icon-calendar"></i> Calendars</h4></li>
        <li><a href="http://copy.mygojo.com:8085/pmg">Global Events</a></li>
		<li><a href="http://copy.mygojo.com:8085/communityevents">Community Events</a></li>
		<li><a href="http://copy.mygojo.com:8085/calendar">Corporate Calendar</a></li>
		<li><a href="http://copy.mygojo.com:8085/event">Corporate Events</a></li>
		<li><a href="http://copy.mygojo.com:8085/finclose">Fiscal Calendar</a></li>
		@* <li><a href="http://copy.mygojo.com:8085/pmp">Performance Management Process</a></li> *@
	    <li><a href="http://copy.mygojo.com:8085/manufacturing">Manufacturing Group</a></li>
		<li><a href="http://copy.mygojo.com:8085/stake">Quarterly Stakeholders</a></li>
	    <li><a href="http://copy.mygojo.com:8085/yearend2000">Year End Schedule</a></li>
		<li><a href="http://copy.mygojo.com:8085/holidbrz">Brazil Holidays</a></li>
		<li><a href="http://copy.mygojo.com:8085/cn-holiday">Canada Holidays</a></li>
		<li><a href="http://copy.mygojo.com:8085/holidfr">France Holidays</a></li>
		<li><a href="http://copy.mygojo.com:8085/holidjn">Japan Holidays</a></li>
		<li><a href="http://copy.mygojo.com:8085/holiduk">U.K. Holidays</a></li>
		<li><a href="http://copy.mygojo.com:8085/holiday">U.S. Holidays</a></li>
	</ul>

</div><!--/span-->

<div class="span3">
    <ul class="nav nav-list">
        <li class="nav-header"><h4><i class="icon-info-sign"></i> Help</h4></li>
        <li><a href="http://content.mygojo.com/sharedlocator/fax.asp">Fax Numbers</a></li>
		<li><a href="http://content.mygojo.com/SharedLocator/">Employee Locator</a></li>
		<li><a href="http://content.mygojo.com/SharedLocator/documents/ReportforLocator.pdf">Gojo Phone List</a></li>
		<li><a href="http://content.mygojo.com/SharedLocator/documents/qualpakPhoneList.pdf">QualPak Phone List</a></li>
		<li><a href="http://content.mygojo.com/CoreprocessVR/IT/HelpDesk/ITContactUs.htm">Help Desk</a></li>
		@* <li><a href="http://content.mygojo.com/it/itproject_methodology/itpm_index.htm">IT Project Methodology</a></li> *@
		<li><a href="http://www.mygojo.com">Tips & Tricks</a></li>
		<li><a href="http://www.mygojo.com">Loaner Equipment</a></li>
		<li><a href="http://www.mygojo.com">Contact Information</a></li>
		<li><a href="http://content.mygojo.com/portal/myGOJOHelpTips.htm">MyGojo Help</a></li>
		<li><a href="http://content.mygojo.com/IntranetHelp/Feedback/IHFIntranetFeedback.asp">MyGojo Feedback</a></li>
    </ul> 
    
    <ul class="nav nav-list">
		<li class="nav-header"><h4><i class="icon-eye-open"></i> e-Learning</h4></li>
        <li><a href="http://www.mygojo.com">Microsoft Office</a></li>
        <li><a href="http://www.mygojo.com">Project Workspaces</a></li>
        <li><a href="http://www.mygojo.com">Team Workspaces</a></li>
        <li><a href="http://www.mygojo.com">File Sharing Workspaces</a></li>
        <li><a href="http://copy.mygojo.com:8085/training">Training Schedule</a></li>
        <li><a href="http://copy.mygojo.com:8085/goplaces">Go Places with Gojo</a></li>
		<li><a href="http://www.mygojo.com">Reference Guides</a></li>
		@* <li><a href="http://www.mygojo.com">FAQs</a></li> *@
		<li><a href="http://www.mygojo.com">Feedback & Suggestions</a></li>
	</ul>

    


     
</div><!--/span-->