<ul class="nav">
    <li class="active"><a href="/"><i class="icon-home"></i> Home</a></li>
    <li><a href="http://akr-spstage1:8080/"><i class="icon-user"></i>My Sites</a></li>
    <li><a href="http://akr-spstage1/"><i class="icon-file"></i>SharePoint</a></li>
    <li><a href="http://akr-kronprodapp.gojo.net/wfc/logon"><i class="icon-cogs"></i>Kronos</a></li>
    <li><a href="http://www.mygojo.com/sites/techknow/Pages/default.aspx"><i class="icon-comment"></i>TechKnow</a></li>
    <li><a href="http://akr-webapps/mssite/index.aspx"><i class="icon-file"></i>Marketing</a></li>
    @*<li><a href="http://content.mygojo.com/GOJOProducts/GPMSDS/DomesticMSDS.asp"><i class="icon-cog"></i>MSDS</a></li>*@
    <li><a href="https://performancemanager4.successfactors.com/login?company=gojo"><i class="icon-star"></i>Performance</a></li>
</ul>
