<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExtConsole" version="0.2.3" />
  <package id="JustMock" version="2012.1.321.0" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="Should" version="1.1.12.0" />
  <package id="ShouldFluent" version="1.1.12.0" />
</packages>