<h4><i class="icon-list-alt icon-large"></i> My Workspaces</h4>

<script type="text/x-handlebars">
    
    {{#view id="siteinfo-links-area"}}
        {{#collection id="siteinfo-list" contentBinding="MyGojo.SiteInfoController" tagName="ul" itemClassBinding="nav nav-list"}}
            {{view Ember.Checkbox titleBinding="content.title" valueBinding="content.priority"}}
        {{/collection}}
    {{/view}}
    

</script>
@*
<ul class="nav nav-list">
    <li class="nav-header"><i class="icon-list-alt icon-large"></i> My Workspaces</li>
        
    

    @foreach (var item in Model)
    {
        <li><a href="@item.Url">@item.Title</a></li>
    }

</ul>
*@