<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://127.0.0.1:27017/MyGojo?safe=true" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.1.4490" newVersion="1.4.2.4500" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.1.4490" newVersion="1.4.2.4500" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
</configuration>