<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMongo" version="1.3.1.1" />
  <package id="JustMock" version="2012.1.508.0" />
  <package id="mongocsharpdriver" version="1.4.2" />
  <package id="MongoRepository" version="1.3" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="Should" version="1.1.12.0" />
</packages>