<div class="row-fluid">
    <div class="span12"><hr /></div>
</div>  <!--/row-->
<footer>
    <p><img src="~/Content/Images/GojoLogoThick-Small.png"/></p>
    <p>@Html.ActionLink("About", "About", "Home") | @Html.ActionLink("Contact", "Contact", "Home") | @Html.ActionLink("Terms and Conditions", "Terms", "Home")</p>
    <p>Copyright &copy; @DateTime.Now.Year - Gojo Industries, Inc. - All Rights Reserved.</p>
</footer>