<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <!-- SharePoint Web Applications and Site Collections In Scope for Processing : Excerpt of Full List -->
    <add key="myGOJO" value="http://akr-spapp1" />
    <add key="Project Workspaces" value="http://akr-spapp1/pw" />
    <add key="Team Workspaces" value="http://akr-spapp1/tw" />
    <add key="Home - File Sharing Workspaces" value="http://akr-spapp1/fs" />
  </appSettings>
  <connectionStrings>
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://localhost:27017/MyGojo?safe=true" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--  Documentation/Usage:  http://www.codeproject.com/Articles/10631/Introduction-to-NLog
          _________________________________________
          NLog trace message log levels of severity
          _________________________________________
          Trace - Very detailed log messages, potentially of a high frequency and volume
          Debug -Less detailed and/or less frequent debugging messages
          Info - Informational messages
          Warn - Warnings which don't appear to the user of the application
          Error - Error messages
          Fatal - Fatal error messages. After a fatal error, the application usually terminates.
    -->
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="NLog: ${date:format=HH\:\mm\:ss}|${level}|${message}" />
      <target name="file" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.SiteLinks.log" archiveFileName="${basedir}/Logs/Archives/${shortdate}.SiteLinks.log" createDirs="true" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" layout="NLog: ${date:format=HH\:\mm\:ss}|${level}|${callsite}|${stacktrace}|${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.4500" newVersion="1.4.2.4500" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.4500" newVersion="1.4.2.4500" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>